[Uint]
Description=MariaDB 10.4.x
Wants=nginx.service php-fpm.service

[Install]
WantedBy=multi-user.target
Alias=mysql.service
Alias=mysqld.service

[Service]
Type=simple
ExecStart=/usr/bin/mysqld_safe
Restart=on-failure
