[Unit]
Description=MariaDB 10.4.x database server
Wants=nginx.service
Wants=php-fpm.service
After=network.target

[Install]
WantedBy=multi-user.target
Alias=mysql.service
Alias=mysqld.service

[Service]
Type=simple
PIDFile=/server/run/mariadb/mysqld.pid
ExecStart=/usr/bin/mysqld_safe
ExecReload=/bin/kill -USR2 $MAINPID
Restart=on-failure
