[Unit]
Description=The PHP FastCGI Process Manager
Wants=mariadb.service
Wants=nginx.service
After=network.target

[Service]
Type=simple
PIDFile=/server/run/php/php-fpm.pid
ExecStart=/server/php/sbin/php-fpm --nodaemonize --fpm-config /server/php/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
