"*":
  "atom-beautify":
    css:
      default_beautifier: "Prettier"
    executables:
      "php-cs-fixer":
        path: "C:\\Users\\emad\\.atom\\php-cs-fixer.phar"
    general:
      _analyticsUserId: ""
    html:
      preserve_newlines: false
    js:
      default_beautifier: "Prettier"
      object_curly_spacing: true
      preserve_newlines: false
      space_before_conditional: false
    markdown:
      default_beautifier: "Prettier"
    php:
      allow_risky: "yes"
  autosave:
    enabled: true
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: [
      "git-time-machine"
      "symbols-view"
      "markdown-preview-enhanced"
      "language-markdown"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-dark-syntax"
    ]
    uriHandlerRegistration: "never"
  editor:
    fontFamily: "'Fira Code','思源黑体 CN'"
    fontSize: 16
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: ""
  "line-ending-selector":
    defaultLineEnding: "LF"
  "markdown-preview-enhanced":
    automaticallyShowPreviewOfMarkdownBeingEdited: false
    closePreviewAutomatically: false
    codeBlockTheme: "coy.css"
    openPreviewPaneAutomatically: false
    previewTheme: "solarized-light.css"
    revealjsTheme: "solarized.css"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "minimap-quick-highlight": true
      "minimap-quick-highlightDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "one-dark-ui":
    hideDockButtons: true
    stickyHeaders: true
    tabCloseButton: "Left"
    tabSizing: "Maximum"
  "one-light-ui":
    hideDockButtons: true
    stickyHeaders: true
    tabCloseButton: "Left"
    tabSizing: "Maximum"
  "platformio-ide-terminal":
    ansiColors:
      zBright:
        brightBlue: "#0080c0"
    core:
      shell: "C:\\Program Files\\Git\\bin\\bash.exe"
      workingDirectory: "Active File"
    style:
      theme: "solarized-dark"
    toggles:
      autoClose: true
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
    showPath: false
    sortBy: "group"
  "quick-highlight":
    decorate: "box"
  "spell-check":
    useLocales: false
  "sync-settings":
    extraFiles: [
      "php-cs-fixer.phar"
    ]
    gistId: ""
    hiddenSettings:
      _lastBackupTime: ""
    installLatestVersion: true
    onlySyncCommunityPackages: true
    personalAccessToken: ""
    quietUpdateCheck: true
    removeObsoletePackages: true
    removeUnfamiliarFiles: true
  "tree-view": {}
  "tree-view-git-status":
    gitFlow:
      display_type: 2
  welcome:
    showOnStartup: false
